src/main/app/mongo-db-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="mongo-db-api-httpListenerConfig" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="mongo-db-api-config" raml="mongo-db-api.raml" consoleEnabled="false" doc:name="Router"/>
	<mongo:config name="Mongo_DB" doc:name="Mongo DB" database="SFPDQA" host="146.185.209.34" password="PupaLupa123PupaLupa123" username="sfpduser"/>
    <flow name="mongo-db-api-main">
        <http:listener config-ref="mongo-db-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="mongo-db-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="mongo-db-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="mongo-db-api-console">
        <http:listener config-ref="mongo-db-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="mongo-db-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/accounts/{id}:mongo-db-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="patch:/accounts/{id}:mongo-db-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/accounts:mongo-db-api-config">
		<mongo:find-objects config-ref="Mongo_DB" collection="accounts" doc:name="Mongo DB"/>
		<component class="service.GetAllService" doc:name="Java"/>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="get:/accounts/{id}:mongo-db-api-config">
		<mongo:find-one-object config-ref="Mongo_DB" collection="accounts" query-ref="#[&quot;{_id: {$oid:'&quot; + message.inboundProperties.'http.params.uri'.id + &quot;'}&quot;]" doc:name="Mongo DB"/>
		<component class="service.GetByIdService" doc:name="Java"/>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="post:/accounts:mongo-db-api-config">
		<mongo:find-one-object config-ref="Mongo_DB" collection="accounts" dbObject-ref="#[payload]" writeConcern="DATABASE_DEFAULT" doc:name="Mongo DB"/>
    </flow>
    <apikit:mapping-exception-strategy name="mongo-db-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
